n8n/restopilot-report.workflow.json
{
  "id": "restopilot-report-webhook",
  "name": "Restopilot AI Report Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "restopilot-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d6d3fc57-3680-4d33-a47c-d17afea2318f",
      "name": "01 Report Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "restopilot-report-webhook",
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const supportedReportTypes = ['overall', 'inventory', 'menu', 'payroll', 'projection'];\nconst requestedReportType = $json.body?.reportType ?? $json.reportType ?? 'overall';\nconst reportType = supportedReportTypes.includes(requestedReportType)\n  ? requestedReportType\n  : 'overall';\n\nreturn [\n  {\n    json: {\n      reportType,\n      requestedReportType,\n      debug: {\n        step: 'validate-report-type',\n        supportedReportTypes,\n        usedFallbackReportType: reportType !== requestedReportType\n      }\n    }\n  }\n];"
      },
      "id": "743111d3-ef02-48a7-af56-35bb1a278d1a",
      "name": "02 Validate Report Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst dataDir = '/home/node/data';\nconst files = {\n  sales: 'sales.csv',\n  inventory: 'inventory.csv',\n  menuItems: 'menu_items.csv',\n  payroll: 'payroll.csv',\n  expenses: 'expenses.csv',\n  settings: 'settings.csv'\n};\n\nconst parseValue = (value) => {\n  const trimmed = String(value ?? '').trim();\n  if (!trimmed) {\n    return '';\n  }\n\n  const numericValue = Number(trimmed);\n  return Number.isNaN(numericValue) ? trimmed : numericValue;\n};\n\nconst parseCsvLine = (line) => {\n  const cells = [];\n  let current = '';\n  let inQuotes = false;\n\n  for (let index = 0; index < line.length; index += 1) {\n    const char = line[index];\n    const nextChar = line[index + 1];\n\n    if (char === '\"' && inQuotes && nextChar === '\"') {\n      current += '\"';\n      index += 1;\n      continue;\n    }\n\n    if (char === '\"') {\n      inQuotes = !inQuotes;\n      continue;\n    }\n\n    if (char === ',' && !inQuotes) {\n      cells.push(current);\n      current = '';\n      continue;\n    }\n\n    current += char;\n  }\n\n  cells.push(current);\n  return cells;\n};\n\nconst readCsv = (fileName) => {\n  const filePath = path.join(dataDir, fileName);\n  const content = fs.readFileSync(filePath, 'utf8').trim();\n  const [headerLine, ...rows] = content.split(/\\r?\\n/).filter(Boolean);\n  const headers = parseCsvLine(headerLine);\n\n  return rows.map((row) => {\n    const cells = parseCsvLine(row);\n    return Object.fromEntries(\n      headers.map((header, index) => [header, parseValue(cells[index])])\n    );\n  });\n};\n\nconst csvData = {};\nconst recordCounts = {};\n\nfor (const [key, fileName] of Object.entries(files)) {\n  csvData[key] = readCsv(fileName);\n  recordCounts[key] = csvData[key].length;\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n      csvData,\n      debug: {\n        ...$json.debug,\n        step: 'load-csv-data',\n        dataDir,\n        recordCounts\n      }\n    }\n  }\n];"
      },
      "id": "36009cf5-80fd-40cb-b01d-940a80c27cb3",
      "name": "03 Load CSV Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json.csvData;\n\nconst sum = (rows, key) =>\n  rows.reduce((total, row) => total + (Number(row[key]) || 0), 0);\n\nconst groupSum = (rows, groupKey, valueKey) =>\n  rows.reduce((groups, row) => {\n    const group = row[groupKey] || 'Unknown';\n    groups[group] = (groups[group] || 0) + (Number(row[valueKey]) || 0);\n    return groups;\n  }, {});\n\nconst topEntry = (groups) =>\n  Object.entries(groups).sort(([, valueA], [, valueB]) => valueB - valueA)[0] ?? ['N/A', 0];\n\nconst settingValue = (metric, fallback) => {\n  const setting = data.settings.find((item) => item.metric === metric);\n  return setting ? setting.value : fallback;\n};\n\nconst totalRevenue = sum(data.sales, 'revenue');\nconst quantitySold = sum(data.sales, 'quantity_sold');\nconst [topMenuItem, topMenuItemRevenue] = topEntry(groupSum(data.sales, 'menu_item', 'revenue'));\n\nconst inventoryRisks = data.inventory\n  .map((item) => {\n    const currentStock = Number(item.current_stock) || 0;\n    const dailyUsage = Number(item.daily_usage) || 0;\n    const reorderLevel = Number(item.reorder_level) || 0;\n    const daysLeft = dailyUsage > 0 ? currentStock / dailyUsage : null;\n\n    return {\n      item: item.item,\n      category: item.category,\n      currentStock,\n      unit: item.unit,\n      dailyUsage,\n      reorderLevel,\n      supplier: item.supplier,\n      daysLeft\n    };\n  })\n  .filter((item) => item.currentStock <= item.reorderLevel)\n  .sort((a, b) => (a.daysLeft ?? 999) - (b.daysLeft ?? 999));\n\nconst menuMarginRisks = data.menuItems\n  .map((item) => {\n    const sellingPrice = Number(item.selling_price) || 0;\n    const foodCost = Number(item.food_cost) || 0;\n    const targetMargin = Number(item.target_margin) || 0;\n    const margin = sellingPrice > 0 ? ((sellingPrice - foodCost) / sellingPrice) * 100 : 0;\n\n    return {\n      menuItem: item.menu_item,\n      category: item.category,\n      sellingPrice,\n      foodCost,\n      targetMargin,\n      margin,\n      salesVolume: Number(item.sales_volume) || 0\n    };\n  })\n  .filter((item) => item.margin < item.targetMargin)\n  .sort((a, b) => b.salesVolume - a.salesVolume);\n\nconst totalGrossPayroll = sum(data.payroll, 'gross_pay');\nconst totalNetPayroll = sum(data.payroll, 'net_pay');\nconst overtimePay = sum(data.payroll, 'ot_pay');\nconst totalExpenses = sum(data.expenses, 'amount');\nconst payrollPercent = totalRevenue > 0 ? (totalGrossPayroll / totalRevenue) * 100 : 0;\nconst expensePercent = totalRevenue > 0 ? (totalExpenses / totalRevenue) * 100 : 0;\nconst estimatedProfit = totalRevenue - totalExpenses - totalGrossPayroll;\n\nconst metrics = {\n  branch: settingValue('primary_branch', 'Quezon City'),\n  currency: settingValue('currency', 'PHP'),\n  totalRevenue,\n  quantitySold,\n  topMenuItem,\n  topMenuItemRevenue,\n  inventoryRisks,\n  menuMarginRisks,\n  totalGrossPayroll,\n  totalNetPayroll,\n  overtimePay,\n  totalExpenses,\n  payrollPercent,\n  expensePercent,\n  estimatedProfit,\n  targetPayrollMinPercent: Number(settingValue('target_payroll_min_percent', 22)),\n  targetPayrollMaxPercent: Number(settingValue('target_payroll_max_percent', 26)),\n  targetFoodCostPercent: Number(settingValue('target_food_cost_percent', 32))\n};\n\nreturn [\n  {\n    json: {\n      ...$json,\n      metrics,\n      debug: {\n        ...$json.debug,\n        step: 'calculate-poc-metrics',\n        calculatedAt: new Date().toISOString()\n      }\n    }\n  }\n];"
      },
      "id": "4ae36042-ceb5-4c6d-a652-eb206c69e710",
      "name": "04 Calculate POC Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const peso = new Intl.NumberFormat('en-PH', {\n  style: 'currency',\n  currency: 'PHP',\n  maximumFractionDigits: 0\n});\n\nconst percent = (value) => `${Number(value).toFixed(1)}%`;\nconst listItems = (items, selector, fallback) =>\n  items.length > 0 ? items.map(selector).join('\\n') : fallback;\n\nconst metrics = $json.metrics;\nconst inventoryList = listItems(\n  metrics.inventoryRisks.slice(0, 4),\n  (item) => `- ${item.item}: ${item.currentStock} ${item.unit} left, reorder level ${item.reorderLevel} ${item.unit}, supplier ${item.supplier}`,\n  '- No inventory item is currently below reorder level.'\n);\nconst menuRiskList = listItems(\n  metrics.menuMarginRisks.slice(0, 4),\n  (item) => `- ${item.menuItem}: margin ${percent(item.margin)} vs target ${percent(item.targetMargin)}, sales volume ${item.salesVolume}`,\n  '- No menu item is below target margin in the sample data.'\n);\n\nconst reports = {\n  overall: `Overall AI Report\\n\\n${metrics.branch} generated ${peso.format(metrics.totalRevenue)} from ${metrics.quantitySold} units sold in the sample CSV data. Estimated profit after payroll and listed expenses is ${peso.format(metrics.estimatedProfit)}.\\n\\nKey risks:\\n${inventoryList}\\n${menuRiskList}\\n\\nRecommended next step: prioritize critical inventory replenishment, then review menu pricing and weekday staffing before adding live AI generation.`,\n  inventory: `Inventory Report\\n\\nThe CSV inventory file shows ${metrics.inventoryRisks.length} items at or below reorder level.\\n\\nItems to review:\\n${inventoryList}\\n\\nRecommended next step: confirm supplier lead times and reorder quantities before the next dinner or delivery peak.`,\n  menu: `Menu Pricing Report\\n\\nTop revenue item from sales CSV: ${metrics.topMenuItem} at ${peso.format(metrics.topMenuItemRevenue)}.\\n\\nMargin risks:\\n${menuRiskList}\\n\\nRecommended next step: adjust high-volume low-margin items before discounting or running promos.`,\n  payroll: `Payroll Report\\n\\nGross payroll is ${peso.format(metrics.totalGrossPayroll)}, net payroll is ${peso.format(metrics.totalNetPayroll)}, and overtime pay is ${peso.format(metrics.overtimePay)}. Payroll is ${percent(metrics.payrollPercent)} of sample revenue versus the target range of ${percent(metrics.targetPayrollMinPercent)} to ${percent(metrics.targetPayrollMaxPercent)}.\\n\\nRecommended next step: review overtime and slower weekday staffing before publishing the next roster.`,\n  projection: `Business Projection Report\\n\\nSample revenue is ${peso.format(metrics.totalRevenue)}, listed expenses are ${peso.format(metrics.totalExpenses)}, and estimated profit is ${peso.format(metrics.estimatedProfit)}. Expenses are ${percent(metrics.expensePercent)} of revenue before payroll adjustments.\\n\\nRecommended next step: rerun this after the next CSV refresh, then compare estimated profit against the frontend dashboard projection.`\n};\n\nreturn [\n  {\n    json: {\n      success: true,\n      reportType: $json.reportType,\n      generatedAt: new Date().toISOString(),\n      report: reports[$json.reportType]\n    }\n  }\n];"
      },
      "id": "1f316ccc-a991-4093-8246-f1de8bec2085",
      "name": "05 Compose Report Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "de4336fe-4e43-43a8-84b1-a3d065d3408a",
      "name": "06 Return Report",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1480,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "01 Report Webhook": {
      "main": [
        [
          {
            "node": "02 Validate Report Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 Validate Report Type": {
      "main": [
        [
          {
            "node": "03 Load CSV Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 Load CSV Data": {
      "main": [
        [
          {
            "node": "04 Calculate POC Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 Calculate POC Metrics": {
      "main": [
        [
          {
            "node": "05 Compose Report Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 Compose Report Response": {
      "main": [
        [
          {
            "node": "06 Return Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4f0ff234-c57d-4f43-bf10-a9cbbf524ca9",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
